#StartScene{ 
    -fx-background-image: url("/background.png");
    -fx-background-size: 1200 700; 
}

#ConnectScene{ 
    -fx-background-image: url("/background.png");
    -fx-background-size: 1200 700; 
} 