#StartScene{ 
    -fx-background-image: url("/images/background.png");
    -fx-background-size: 1360 740;
}

#ConnectScene{ 
    -fx-background-image: url("/images/background.png");
    -fx-background-size: 1360 740;
} 